* {
	
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 2px;
    font-family:"M+CodeLat60 Nerd Font Mono";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0,0,0.1);
    padding: 0;
    margin: 0;

    
    color: #ffffff;
    /*transition-property: background-color;*/
    transition-duration: .5s;
    border-radius: 0px;
}




#clock,
#battery,
#disk,
#temperature,
#backlight,
#network,
#hardware,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    margin: 1px 1px 1px 1px;
    min-width: 9px;
    padding: 0 9px;
    border-radius: 15px;
    color: #333333;
    background-color: #1295c3;
}

#window,
#workspaces {
    background: rgba(0,0,0,0.4);
    border-radius:15px;
    margin: 2px 2px;
    padding: 1px 9px;

}
#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 2px 2px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
#workspaces button.occupied {
  color: #A6E3A1;
}
#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #ABE9B3;
}
workspaces button:hover{
  background-color: #89B4FA;
}


/* If workspaces is the leftmost module, add left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5;
}

/* If workspaces is the rightmost module, add right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 5;
}

#clock {
    background-color: #e1e99c;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
}

#battery.discharging #battery.unplugged {
    background-color: #1295c3;
    color: #000000;
}

#battery.charging, #battery.plugged {
    background-color: #1295c3;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#hardware{
  background-color: #7cc3bb;
}

#cpu{
  padding-left: 5px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #4feaef;
}

#network {
    background-color: #72ddf7;
}

#network.disconnected {
    background-color: #72ddf7;
}

#pulseaudio {
    background-color: #8093f1;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #8093F1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#tray {
    background-color: #a9d8cd;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}




#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
